.btn-green {
  display: inline-block;
  background-color: #47ffac;
  padding: 15px 30px;
  border-radius: 50px;
  color: rgb(3, 32, 23);
  }

  .btn-green:hover {
    background-color: rgb(0, 90, 70);}
